/* GLOBAL CHARACTERISTICS */
:root {
    font-family:'Outfit', sans-serif !important;
    /* --prim: #00003B; */
    /* --prim: #000000; */
    /* --prim: #00031e;
    --prim: #000320; */
    --prim: #000426;
    /* --sec: #ff9933; */
    /* --sec: #ffff33; */
    /* --sec: #ffd187; */
    /* --sec: #d3e784; */
    /* --sec: #f8c668;
    --sec: #f6f2a3; */
    /* --sec: #ffb833; */
    --sec: #fdae11;
    --tert: #E4EFEE;
    --quat: #ffffff;
    --quin: #e6d6a818;
}

body {
    overflow-x: hidden;
}

/* NAVBAR CHARACTERISTICS */
.navbar {
    background-color: var(--prim);
    box-sizing: border-box;
    padding: 0px;
    font-weight: 500;
    position:fixed;
    z-index: 9;
    width: 100vw;
    /* margin: 0px; */
    /* box-shadow: 0px 2px var(--sec) inset; */
}

.navbar-secondary {
    background-color: var(--prim);
    box-sizing: border-box;
    padding: 0px;
    font-weight: 500;
    position:fixed;
    z-index: 9;
    width: 100vw;
    /* margin: 0px; */
    /* box-shadow: 0px 2px var(--sec) inset; */
}

.navbar-brand {
    padding: 0px;
    animation: nodding 1s infinite;
    animation-timing-function: linear;
}
.navbar-brand :hover {
    animation: shaking 0.7s infinite;
    animation-timing-function: linear;
}

/* DEFINES LOGO ANIMATION FRAMES */
@keyframes nodding {
    0% {transform: rotate(0deg);}
  25% {transform: rotate(5deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

@keyframes shaking {
    0% {transform: rotate(0deg);}
  25% {transform: rotate(15deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-15deg);}
  100% {transform: rotate(0deg);}
}

.nav-link {
    color: var(--tert);
    margin-top: .3rem;
    font-family: 'Lexend', sans-serif !important;
    font-weight: 600 !important;
}

.navbar a:link, .navbar a:visited {
    text-decoration: none;
    color: var(--tert);
}

/* .navbar a:hover {
    color: var(--sec) !important;
} */

.navbar .active {
    background-color: var(--sec);
    color: var(--sec);
    margin-top: .7rem;
    padding: .1rem;
    font-weight: 700;
    border-radius: 2rem;
}

.navbar .navbar-nav .active:hover {
    color: var(--quat) !important;
}

nav .navbar-toggler {
    color: var(--tert);
    padding: 0px;
    font-size: 30px;
}

nav .navbar-toggler :hover, .navbar-nav :hover {
    color: var(--sec) !important;
} 

.dropdown-menu {
    background-color: var(--prim);
    border-color: var(--sec);
    border-radius: 0rem 0rem 1rem 1rem;
    border-width: 0rem 0.1rem 0.1rem 0.1rem;
    color: var(--prim) !important;
    font-family: 'Lexend', sans-serif !important;
}

.dropdown-menu .dropdown-item {
    color: var(--tert) !important;
    font-weight: 600;
    font-family: 'Lexend', sans-serif !important;
}

.dropdown-menu .dropdown-item:hover {
    color: var(--prim) !important;
    background-color: var(--sec) !important;
    font-weight: 600;
    font-family: 'Lexend', sans-serif !important;
}


/* BANNER CHARACTERISTICS */
.index-intro {
    width: 100vw;
    background-color: var(--prim);
}

.index-intro .jumbotron {
    background-color: var(--prim);
    color: var(--tert);
    margin: 0rem 0rem 0rem 0rem !important;
    padding: 2rem 0rem; 
}

.index-intro .jumbotron h1, .index-intro .jumbotron p {
    /* text-align: center; */
    font-family: 'Lexend', sans-serif !important;
}

.index-intro .jumbotron h1 {
    font-size: 3.5rem !important;
    padding-top: 1rem;
}

/* .index-intro .jumbotron p {
    font-weight: 300 !important;
} */

.aboutBanner {
    background-image: url(../images/aboutbannerc.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.aboutBanner-text h1, .aboutBanner-text p{
    color: var(--prim) !important;
    /* text-align: left  !important; */
    /* background-color: rgba(104, 104, 104, 0.2) !important;
     */
    /* text-shadow: .05rem .05rem var(--sec) !important; */
}

#blue-text-white-bg {
    color: var(--prim) !important;

}

.section-heading, #h2dark {
    font-family: 'Lexend', sans-serif !important;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--prim);
    padding-top: 0.7rem !important;
    margin-top: -3.5rem !important;
}

.section-heading, #h2light {
    font-family: 'Lexend', sans-serif !important;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--tert);
    padding-top: 0.7rem !important;
    margin-top: -1.5rem !important;
}


.index-intro .jumbotron h1 {
    font-size: 3rem;
    font-weight: bolder;
    padding-top: 2rem;
}

.myName {
    font-family: 'Rock Salt', sans-serif;
    font-weight: 700;
    color: var(--quat) !important;
    /* text-align: center !important; */
}

.myName-about {
    font-family: 'Rock Salt', sans-serif;
    font-weight: 700;
    color: var(--sec) !important;
    /* text-align: center !important; */
}



.index-intro .jumbotron p {
    font-size: 1.1rem;
}

.index-intro .jumbotron a:link, .index-intro .jumbotron a:visited {
    text-decoration: none;
    color: var(--sec);
}

.index-intro .jumbotron .lit-border {
    content: url(../images/logo/mountain-contour.svg) !important;
}

.index-intro .jumbotron .lit-logo, #graphic-logo {
    content: url(../images/logo/svgbanner.svg) !important;
}

.index-intro .jumbotron .lit-map {
    content: url(../images/map.svg) !important;
}

/* .index-intro .jumbotron .about-photo { */
    /* content: url(../images/aboutbannerb.jpg) !important;
} */

/* BOOTSTRAP CHECKERED-GRID CHARACTERISTICS */
.tile {
    background-color: var(--quin);
    /* min-height: 180px; */
    border-radius: 2rem;
    box-shadow: 2px 2px 0px 0px var(--tert);
    transition: transform .4s ease;
    /* margin: 1.5rem; */
    padding: .4rem;
}

.card {
    border-radius: 2rem;
    box-shadow: 2px 2px 0px 0px var(--tert);
    transition: transform .4s ease;
    /* margin: 1.5rem; */
    padding: .4rem;
    background-color: var(--quin);
}

.card .card-img-top {
    border-radius: 1.5rem 1.5rem 0rem 0rem;
}

.hometile {
    background-color: var(--quat);
    /* min-height: 180px; */
    border-radius: 2rem;
    /* box-shadow: 2px 2px 0px 0px var(--tert); */
    transition: transform .4s ease;
    /* margin: 1.5rem; */
    /* padding: .4rem; */
    border-width: 0.4rem;
    border-color: var(--quin);
}

.jumbotron a button {
    border-radius: 2rem !important;
    border-color: var(--sec) !important;
    color: var(--sec) !important;
    font-weight: 500 !important;
    font-family: 'Lexend', sans-serif !important;
    /* margin: 1.5rem; */
    /* padding: 2rem !important; */
    width: 7rem;
}

div .lit-text button:hover {
    background-color: var(--sec)!important;
    color: var(--prim)!important;
}

.tile:hover, .hometile:hover {
    transform: scale(1.15);
}
.card:hover {
    transform: scale(1.05);
    background-color: var(--sec);


}

.prime {
    background-color: var(--quin);
    background-image: url(../images/photography/road/road.jpg);
    background-position: center;
    background-size: cover;
    transition: transform .4s ease;
    /* content:url(/images/photography/road/road.jpg); */
    /* min-height: 360px; */
    border-radius: 2rem;
    box-shadow: 5px 5px var(--sec);
    color: var(--tert);
    /* border-width: 25px;
    border-color: var(--prim); */
}

.index-intro {
    margin-bottom: 4rem;
}

.cluster {
    margin-bottom: 5rem !important;
}

.carousel-inner {
    /* margin: 1rem; */
    border-radius: 2rem;
}

/* .carousel {
    box-shadow: 5px 5px var(--sec);
} */

/* .car {
        background-color: var(--tert);
} */

/* i .fa-circle-chevron-right::before {
  width: 20rem !important;
  height: 5vw;
} */

.prime:hover {
    transform: scale(1.07);
    color: var(--sec);
}

.text-tile {
    background-color: var(--quin);
    padding-left: .7rem;
    /* background-image: url(/images/photography/road/road.jpg); */
    background-position: center;
    background-size: cover;
    transition: transform .4s ease;
    /* content:url(/images/photography/road/road.jpg); */
    max-height:3rem;
    border-bottom-right-radius: 25px;
    box-shadow: 5px 5px var(--prim);
    color: var(--tert);
    /* border-width: 25px;
    border-color: var(--prim); */
}

main {
    padding-top: 20px;
}

/* ABOUT ME - SUMMARY FORMAT */

.summary p{
    font-family:'Outfit', sans-serif !important;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1rem;
    line-height: 1.8rem;
    color: var(--prim);
}

.contact-box {
    color: var(--prim);
    background-color: var(--tert);
    margin-top: 2rem;
    padding-top: 3rem;
    font-weight: 700;
    border-radius: 2rem;
    border-color: var(--quat) !important;
    border-width: 2rem;
}

#contact-wrapper {
    margin-bottom: -4.5rem !important;
    /* margin-left: 1.5rem !important;
    margin-right: 5rem !important; */
}


.highlight {
    background-image: url(../images/fabric-pattern.svg) !important;
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom: 1.5rem;
    /* margin: 1rem; */
}

/* #secondNav {
    display: inline !important;
    text-decoration: none !important;
} */

.work-section {
    margin-top: -2rem;
    margin-bottom: 2rem;
}

#cat-container .tile {
    padding: 0.5rem;
}


/* HOME-CARD CLUSTER IMAGE PATHS */
#introux {
    content: url(../images/mockup/nasa-carousel-square.jpg);
}

#intrographic {
    content: url(../images/mockup/localheroes-card-square.jpg);
    /* background-position: center;
    background-size:cover; */
    /* min-height:30rem; */
}

#introphoto {
    content: url(../images/photography/road/road01.jpg);
}

/* CAROUSEL CLUSTER IMAGE PATHS */

#carslide1 {
    content: url(../images/carousel/crackle01.jpg);
}

#carslide2 {
    content: url(../images/carousel/leap-carousel.jpg);
}

#carslide3 {
    content: url(../images/carousel/bar-carousel.jpg);
}

#carslide4 {
    content: url(../images/carousel/nasa-carousel.jpg);
}

#carslide5 {
    content: url(../images/carousel/card-carousel.jpg);
}

/* .cluster .row .tile:nth-child(2) {
    content: url(../images/architecture/resort.jpg);
} */

.cluster .row .tile:nth-child(3) {
    content: url(../images/graphic-design/hybrid/hybrid.jpg);
}

.cluster .row .tile:nth-child(4) {
    content: url(../images/photography/road/road01.jpg);
}

.cluster .row .tile:nth-child(5) {
    content: url(../images/photography/misc/leap.jpg);
}


/* UX DESIGN CLUSTER IMAGE PATHS */
.ux .prime {
    content: url(../images/ux/crackle/crackle02.jpg);
}

.ux .cluster:nth-child(3) .tile:nth-child(1) {
    content: url(../images/ux/crackle/crackle07.jpg);
}

.ux .cluster:nth-child(3) .tile:nth-child(2) {
    content: url(../images/ux/crackle/crackle03.jpg);
}

.ux .cluster:nth-child(5) .tile:nth-child(1) {
    content: url(../images/ux/crackle/crackle04.jpg);
}

.ux .cluster:nth-child(5) .tile:nth-child(2) {
    content: url(../images/ux/crackle/crackle05.jpg);
}

.ux .cluster:nth-child(6) .tile:nth-child(1) {
    content: url(../images/ux/crackle/crackle06.jpg);
}

#hr1, .ux .cluster:nth-child(6) .tile:nth-child(2) {
    content: url(../images/ux/hr/Menu.png);
}

#hr2, .ux .cluster:nth-child(7) .tile:nth-child(1) {
    content: url(../images/ux/hr/Home.png);
}

.ux .cluster:nth-child(7) .tile:nth-child(2) {
    content: url(../images/ux/hr/hr03.jpg);
}

#crackle1 {
    content: url(../images/ux/crackle/LOADING.png)
}

#crackle2 {
    content: url(../images/ux/crackle/LOGIN.png)
}

#crackle3 {
    content: url(../images/ux/crackle/MAIN.png)
}


#nasa1 {
    content: url(../images/ux/nasa/Web\ 1920\ –\ 1.png);
}

#nasa2 {
    content: url(../images/ux/nasa/iPad\ –\ 1.png);  
}
/* PHOTOGRAPHY CLUSTER IMAGE PATHS */

#road, .photography .prime {
    content: url(../images/photography/road/road01.jpg);
} 

#copper, .photography .cluster:nth-child(3) .tile:nth-child(1) {
    content: url(../images/photography/copper/copper.jpg);
}

#cable {
    content: url(../images/photography/misc/cable.jpg);
}

#woods {
    content: url(../images/photography/misc/woods.jpg);
}

#luna {
    content: url(../images/photography/misc/luna.jpg);
}

#sunset {
    content: url(../images/photography/sunset/sunset.jpg);
}
#shadow, .photography .cluster:nth-child(3) .tile:nth-child(2) {
    content: url(../images/photography/shadow/shadow02.jpg);
}

#cave, .photography .cluster:nth-child(7) .tile:nth-child(1) {
    content: url(../images/photography/misc/cave.jpg);
}
#stairs, 
.photography .cluster:nth-child(7) .tile:nth-child(2) {
    content: url(../images/photography/stairs/stairs.jpg);
}

#beach, .photography .cluster:nth-child(5) .tile:nth-child(1) {
    content: url(../images/photography/misc/leap.jpg);
}

#lighter, .photography .cluster:nth-child(5) .tile:nth-child(2) {
    content: url(../images/photography/misc/lighter.jpg);
}

#chess, .photography .cluster:nth-child(6) .tile:nth-child(1) {
    content: url(../images/photography/chess/chess.jpg);
}

#leo, .photography .cluster:nth-child(6) .tile:nth-child(2) {
    content: url(../images/photography/misc/leo.jpg);
}

/* GRAPHIC DESIGN CLUSTER IMAGE PATHS */

#localheroes{
    content: url(../images/graphic-design/localheroes/lhlogo.png);
}

.graphic-design .prime, #batman {
    content: url(../images/graphic-design/batman/batman02.jpg);
}

#kayotea, .graphic-design .cluster:nth-child(3) .tile:nth-child(1) {
    content: url(../images/graphic-design/kayotea/Kayotea_Hari.jpg);
}

.graphic-design .cluster:nth-child(3) .tile:nth-child(2) {
    content: url(../images/graphic-design/hybrid/hybrid.jpg);
}

#scaredy-1, .graphic-design .cluster:nth-child(5) .tile:nth-child(1) {
    content: url(../images/graphic-design/scaredycat/scaredycat.jpg);
}

#scaredy-2, .graphic-design .cluster:nth-child(5) .tile:nth-child(2) {
    content: url(../images/graphic-design/scaredycat/cat.jpg);
}

#scaredy-3, .graphic-design .cluster:nth-child(5) .tile:nth-child(2) {
    content: url(../images/graphic-design/scaredycat/yarn.png);
}


#poster, .graphic-design .cluster:nth-child(6) .tile:nth-child(1) {
    content: url(../images/graphic-design/scifi/scifi.jpg);
}

.graphic-design .cluster:nth-child(6) .tile:nth-child(2) {
    content: url(../images/graphic-design/card/card.jpg);
}

/* VIDEOGRAPHY CLUSTER PATHS */
.videography .prime {
    content: url(../images/video/video01.jpg);
}

.videography .cluster:nth-child(3) .tile:nth-child(1) {
    content: url(../images/video/video02.jpg);
}

/* ARCHITECTURE CLUSTER IMAGE PATHS */
.arch .prime {
    content: url(../images/architecture/01/01.jpg);
}

.arch .cluster:nth-child(3) .tile:nth-child(1) {
    content: url(../images/architecture/02/02.jpg);
}

.arch .cluster:nth-child(3) .tile:nth-child(2) {
    content: url(../images/architecture/03/03.jpg);
}

.arch .cluster:nth-child(5) .tile:nth-child(1) {
    content: url(../images/architecture/09/09.jpg);
}

.arch .cluster:nth-child(5) .tile:nth-child(2) {
    content: url(../images/architecture/04/04.jpg);
}

.arch .cluster:nth-child(6) .tile:nth-child(1) {
    content: url(../images/architecture/06/06.jpg);
}

.arch .cluster:nth-child(6) .tile:nth-child(2) {
    content: url(../images/architecture/05/05.jpg);
}

.arch .cluster:nth-child(7) .tile:nth-child(1) {
    content: url(../images/ux/hr/hr02.jpg);
}

.arch .cluster:nth-child(7) .tile:nth-child(2) {
    content: url(../images/ux/hr/hr03.jpg);
}

/* ABOUT PORTFOLIO */
/* ----------------------------------------------- */
#arch {
    content: url(../images/aboutarch4.jpg);
}

#portrait {
    background-image: url(../images/portrait.jpg);
    background-position: center;
    background-size: cover;
    min-height:30rem;
}


/* UX PORTFOLIO */
/* ----------------------------------------------- */

.section-solo .box img {
    width: 50%;
    height: auto;
    margin-bottom: 15px;
    float: left;;
}

.section-solo .box h3 {
    margin-left: 29em;
}

.client-feature {
    margin-bottom: 5px;
    margin-left: 32em;
}


.section-team .box img {
    width: 50%;
    height: auto;
    margin-bottom: 15px;
    float: left;;
}

.section-team .box h3 {
    margin-left: 29em;
}

.client-feature {
    margin-bottom: 5px;
    margin-left: 32em;
}


/* ABOUT-PAGE CLUSTER IMAGE PATHS */
/* .about .prime {
    content: url(../images/about01.jpg);
} */

/* BOOTSRAP FOOTER GRID CHARACTERISTICS  */

footer {
    background-color: var(--prim);
    min-height: 50px;
    padding-top: 15px;
    margin-top: 0px;
}

footer a:link, footer a:visited {
    text-decoration: none;
    color: var(--tert);
}

footer a:hover {
    color: var(--sec);
}

.copyright p {
    font-weight:200;
    color: var(--tert);
    margin: 10px 0px 0px 15px;
}

footer .links {
    font-weight: 200;
    padding-top: .6rem;
    margin-bottom: .8rem;
}

.copyright img {
    margin-top: 4px;
}

/* .copyright, .social {
} */

footer ul li {
    list-style-type: none;
    padding: 0px 0px;
    font-size: 30px;
    border-radius: 5%;
}