/* GLOBAL CHARACTERISTICS */
:root {
    font-family:Open Sans;
    --prim: #00003B;
    --sec: #FF9D00;
    --tert: #E4EFEE;
    --quat: #ffffff;
}

/* NAVBAR CHARACTERISTICS */
.navbar {
    background-color: var(--prim);
    box-sizing: border-box;
    padding: 0px;
    font-weight: 500;
}

.navbar-brand {
    padding: 0px;
    animation: nodding 1s infinite;
    animation-timing-function: linear;
}

.navbar-brand :hover {
    animation: shaking 0.7s infinite;
    animation-timing-function: linear;
}

/* DEFINES LOGO ANIMATION FRAMES */
@keyframes nodding {
    0% {transform: rotate(0deg);}
  25% {transform: rotate(5deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

@keyframes shaking {
    0% {transform: rotate(0deg);}
  25% {transform: rotate(15deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-15deg);}
  100% {transform: rotate(0deg);}
}

.nav-link {
    color: var(--tert);
    padding: 15px;
}

nav a:link, nav a:visited {
    text-decoration: none;
    color: var(--tert);
}

nav a:hover {
    color: var(--sec);
}

.active {
    background-color: #FF9D00;
    color: var(--sec);
    padding: 15px;
    font-weight: 700;
    border-top-right-radius: 20px;
}

.navlink :hover {
    color: var(--tert);
}

.navbar-toggler {
    color: var(--tert);
    padding: 0px;
    font-size: 30px;
}

.navbar-toggler :hover {
    color: var(--sec);
} 

/* BOOTSTRAP CHECKERED-GRID CHARACTERISTICS */
.tile {
    content:url(/images/photography/chess/chess.jpg);
    /* min-height: 180px; */
    border-top-right-radius: 25px;
    border-color: var(--prim) !important;
    border-width: 10px !important;
    box-shadow: 5px 5px var(--tert);
}

.prime {
    content:url(/images/photography/road/road.jpg);
    /* min-height: 360px; */
    border-bottom-right-radius: 25px;
    box-shadow: 5px 5px var(--sec);
    /* border-width: 25px;
    border-color: var(--prim); */
}


/* BOOTSRAP FOOTER GRID CHARACTERISTICS */

footer {
    background-color: var(--prim);
    min-height: 50px;
    padding-top: 15px;
}

footer a:link, footer a:visited {
    text-decoration: none;
    color: var(--tert);
}

footer a:hover, p:hover {
    color: var(--sec);
}

.copyright p {
    font-weight:200;
    color: var(--tert);
    margin: 10px 0px 0px 15px;
}

.copyright img {
    margin-top: 4px;
}

/* .copyright, .social {
} */

footer ul li {
    list-style-type: none;
    padding: 0px 0px;
    font-size: 30px;
    border-radius: 5%;
}