/* GLOBAL CHARACTERISTICS */
:root {
    font-family:Open Sans;
    --prim: #00003B;
    --sec: #FF9D00;
    --tert: #E4EFEE;
    --quat: #ffffff;
}

/* NAVBAR CHARACTERISTICS */
.navbar {
    background-color: var(--prim);
    box-sizing: border-box;
    padding: 0px;
    /* max-height: 69px; */
}

.navbar-brand {
    background-color:var(--tert);
}

.nav-link {
    color: var(--sec);
    padding: 23px;
}

.active {
    background-color: #FF9D00;
    color: var(--sec);
}

.navlink :hover {
    color: var(--tert);
}

/* BOOTSTRAP CHECKERED-GRID CHARACTERISTICS */
.tile {
    background-color:var(--tert);
    min-height: 180px;
}

.prime {
    background-color:var(--sec);
    min-height: 360px;
}

.break {
    background-color: var(--quat);
}
